.container {
  width: 100vw;
  height: 8vh;
  background-color: #111;
  top: 0;
  padding: 1rem;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: flex-start;

}


