.container {
  width: 100vw;
  height: 8vh;
  bottom: 0;
  position: relative;
  padding: 1rem;
  background-color: #111;
  color: white;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
}

p{
  margin-top: 10px;
}
