.container{
  left: 0;
  padding-top: 25px;
  display: flex;
  height: calc(100vh - 16vh);
}

.chart-container{
  width: 700px;
  height: 500px;
  margin-top: 20px;
 }

 h2{
   margin-left: 215px;
 }

.head{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 3rem;
}
