<div class="container">
  <div class="head">
    <h1 class="h1">Upcoming invoices</h1>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>School Name</th>
      <th>Amount Due</th>
      <th>Due Date</th>
      <th>Quick Actions</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.SchoolName }}</td>
        <td>{{ person.AmountDue }}</td>
        <td>{{ person.DueDate }}</td>
        <td>
          <button (click)="open(person)">Collect</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <app-modal-form
    *ngIf="isModalOpen"
    (closeModalEvent)="closeModal()">
</app-modal-form>
