<div class="container">
  <h1>Upcoming invoices</h1>

  <table>
    <tr>
      <th>School Name</th>
      <th>Amount Due</th>
      <th>Due Date</th>
      <th>Quick Actions</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>
        <button (click)="openModal()">Collect</button>
      </td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>
        <button>Collect</button>
      </td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>
        <button>Collect</button>
      </td>
    </tr>
  </table>
</div>
