<app-header></app-header>
<div class="content">
  <div class="school-details">
    <span>
      <p>School Name : Shiketsu High</p>
      <p>School Type : IGSE</p>
      <p>County : Nairobi</p>
      <p>Product : XYZ</p>
      <p>Registration Date : 2021-04-25</p>
      <p>Contact Information : shiketsu-info.co.ke</p>
      <p>School Balances : 60,000</p>
    </span>
  </div>
  <div class="add">
    <button (click)="addInvoice()">Add invoice</button>
  </div>

  <div *ngIf="showForm" class="form">
    <form class="form-inline" (ngSubmit)="onSubmit()">
      <label for="invoiceId">Invoice ID:</label>
      <input type="text" id="invoiceId" placeholder="Enter Form ID" name="invoiceId" [(ngModel)]="invoiceId" required>

      <label for="dueDate">Due Date:</label>
      <input type="date" id="dueDate" name="dueDate" [(ngModel)]="dueDate" required>

      <label for="status">Status:</label>
      <select id="status" name="status" [(ngModel)]="status" required>
        <option value="Pending">Pending</option>
        <option value="Collected">Collected</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </div>

  <hr>

  <div class="invoices">
    <table>
      <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Quick Actions</th>
        <th>Quick Actions</th>
        <th>Quick Actions</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{ invoice.InvoiceID }}</td>
          <td>{{ invoice.Status }}</td>
          <td>{{ invoice.DueDate }}</td>
          <td>
            <button >View</button>
          </td>
          <td>
            <button >Update</button>
          </td>
          <td>
            <button (click)="deleteInvoice(invoice)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>

