.content{
  height: calc(100vh - 8vh);
  width: 100vw;
  position: relative;
  top: 8vh;
}

.school-details{
  height: 25%;
  padding: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 30px;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr{
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #b8b5b5;
}

th{
  background-color: rgba(12, 187, 50, 0.795);
}

h1{
  margin-top: 10px;
  text-align: center;
  font-size: 3rem;
}

button{
  padding: 10px;
  border-radius: 5px;
  background-color: #00800083;
  cursor: pointer;
}

p{
  font-size: 20px;
}

.add{
  margin-bottom: 10px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  margin-left: 20px;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
